.component { 
    color: var(--app-color-text); 
    text-align: right;
    height: 100%;   
}

.calculation {
    font-size: 5vh;
    font-weight: 200;
    height: 20vh;
    line-height: 20vh;
    background: var(--app-color-background);
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}