/**********************************************/
/* RESETS                                     */
/**********************************************/
/* Where it is safe to do so, do some old     */
/* school style resets.                       */
/**********************************************/

html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--app-color-background);
}
  
body > div#root,
body > main {
    width: 100%;
    height: 100%;
}
  
a {
    text-decoration: none;
}

button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: none;
}