:root {

    /* ---------------------------------- */
    /* Colors                             */
    /* ---------------------------------- */

    --app-color-primary: #1795d4;
    --app-color-primary-step-100: #1589c3;
    --app-color-primary-step-200: #107fb6;
    --app-color-primary-step-300: #0d6794;
    --app-color-text: #fff;
    --app-color-background: #373d45;

    /* ---------------------------------- */
    /* Fonts/Text                         */
    /* ---------------------------------- */

    --app-font-size-lg: 6vh;

    /* ---------------------------------- */
    /* Borders                            */
    /* ---------------------------------- */

    --app-border: 1px solid rgba(255, 255, 255, 0.1);
    
}