.component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    background: var(--app-color-primary);
    cursor: pointer;
}

.button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--app-color-text);
    font-size: var(--app-font-size-lg);
    font-weight: 200;
    font-family: inherit;
    user-select: none;
    width: 25%;
    border-bottom: var(--app-border);
    border-right: var(--app-border);

    &:nth-child(4n+0) {
        background-color: var(--app-color-primary-step-100);
        border-right: 0;
    }
    &:nth-child(n+17) {
        border-bottom: 0;  
    }
    &:hover {
        background: var(--app-color-primary-step-200);
    }
    &.selected,
    &:active {
        background: var(--app-color-primary-step-300);
    }

}

